
body {
    padding: 0;
    margin: 0;
}

h3{ 
    color: #3eb8d7;
}

a {
    padding: 15px;
    border-style: solid;
    border-width: 1px;
}
a:hover {
    background-color: #227587;
}

.header {
    width: 100%;
    height: 120px;
    background-image: url("slike/header.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.site-nav {
    display: flex;
    text-align: center;
    background-color: #3eb8d7;
    color: white;
}

.container {
    display: flex;
}

.gdoba {
    flex: 1;
}

.inp {
    flex: 2;
}

.cena {
    flex: 1;
}




.one {
    flex: 1;
}

.two {
    flex: 1;
}

.three {
    flex: 1;
}

.four {
    flex: 1;
}




@media screen and (max-width: 650px) {

    .site-nav {
        flex-direction: column;
    }

}